/* #################### 全局 #################### */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
.hljs-comment {
    opacity: 1 !important;  /* 确保注释部分完全不透明 */
    color: #0074f8; /* 或者你可以根据需求调整颜色 */
}
html, body{
    height: 100%;
    /*background: rgba(255, 255, 255, 0.8)*/
    /* background: url("/images/back.jpg") no-repeat center center fixed; */
    background: url("/images/b6.jpg") no-repeat center center fixed;
    
    background-size: cover;
    /* background: #414f50; */

}

aside {
    width: 300px;
    height: 100%;
    position: fixed;
    background: rgb(255, 255, 255, 0.3);
    z-index: 1;
}

nav {
    height: 50px;
    width: 100%;
    background: rgba(215, 255, 255, 0);
    position:absolute
}
#main{
    height: 100%;
    z-index: 2;
    position: relative;
    /* background: url("/images/back.jpg") no-repeat center center fixed;
    background-size: cover; */

}


#body::-webkit-scrollbar
{
    background-color: rgba(0,0,0,0);
    width: 5px;
}
#body::-webkit-scrollbar-track-piece
{
    background-color: rgba(0,0,0,0);
}
#body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(35, 1, 41, 0.3);
    background-color: rgba(141, 22, 92, 0.3);
}
#body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(231, 145, 145, 0.3);
    border-radius: 10px;
    background-color: rgba(141, 22, 92, 0.3);
}



#main2{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.507);
    position: fixed;
    z-index: 1;
}
#content {
    height: 100%;
    padding-left: 300px;
}


/* #################### 导航 #################### */
nav #menu{
    float: middle;
    padding-left: 300px;
}
nav #menu .menu-item-in{
    float: left;
    /* padding-left: 300px; */
}
nav #menu .menu-item-out{
    float: right;
    /* padding-right: 300px; */
}
nav ul li {
    float: left;
    padding: 10px;
    list-style: none;
}
nav ul li a{
    color: #555;
    font-size: 12px;
    text-decoration: none;
}
nav ul li a:hover {
    border-bottom: 1px solid;
}


/* #################### 侧边栏 #################### */
/* 搜索框 */
/* aside input {
    width: 290px;
    height: 50px;
    margin: 0;
    border: 0;
    padding: 0;
    left: 0;
    font-size: 14px;
    background: #131417;
    text-indent: 20px;
    outline: none;
    color: #87daff;
    position: absolute;
} */

/* 搜索图标 */
aside #search i.fa.fa-search {
    position: absolute;
    top: 0;
    right: 0;
    color: #75757500;
    font-size: 20px;
    width: 40px;
    height: 50px;
    background: #13141700;
    text-align: center;
    line-height: 2.5;
}

aside #search-icon{
    position: absolute;
    right: 0;
    background: #13141700;
    padding-top: 20px;
}

/* 滚动条 */
aside {
    overflow-y: scroll;
}
aside::-webkit-scrollbar
{
    background-color: rgba(0,0,0,0);
    width: 5px;
}
aside::-webkit-scrollbar-track-piece
{
    background-color: rgba(0,0,0,0);
}
aside::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(165, 118, 172, 0.3);
    background-color: rgba(141, 22, 92, 0.3);
}
aside::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(231, 145, 145, 0.3);
    border-radius: 10px;
    background-color: rgba(141, 22, 92, 0.3);

}
/* 树目录位置 */
aside #tree {
    padding-top: 55px
}
aside #toc {
    padding-top: 55px
}

/* 树目录 */
aside ul {
    padding: 0px 5px 5px 20px;
}
aside ul li {
    list-style: none;
    line-height: 25px;
    
}
aside ul li a {
    color: #412525;
    font-size: 14px;
    text-decoration: none

}
aside ul li a:hover {
    color: #7f3c99;
    border-bottom: 1px solid #6d3791;
    cursor:pointer;
}
aside #tree .active a,
aside #tree .active a:hover {
    color: #863c8d;
    border-bottom: 1px solid #4e0728;
}

aside #tree i.fa {
    padding-right: 5px;
}

/* #################### 文章 #################### */
/* 作者 时间 相关 */
#post-author {
    font-size: 9px;
    position: absolute;
    top: 60px;
    right: 30px;
    color: #e20000;
}

#post-date {
    font-size: 9px;
    position: absolute;
    top: 90px;
    right: 30px;
    color: #fffb00;
}

/* 文章各个元素间隔 */
#article {
    position: static;
    padding: 30px;
    top: 90px;
}
#article * {
    margin: 30px 0;
}


#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
    line-height: 40px;
    margin: 20px 0 15px;
}


#article h1 {
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 2px solid #e06c75;
}

#article h2 {
    font-size: 25px;
    border-bottom: 2px solid #e06c75;
}

#article h3 {
    font-size: 22px;
    border-bottom: 2px solid #e06c75;
}

#article a {
    color: #e06c75;
    text-decoration: none;
}

#article a:hover {
    border-bottom: 1px solid;
}

#article h1 a:hover{
    border-bottom: none;
}

#article code {
    border-radius: 9px;
    box-shadow: 0px 0px 5px #ebc4c4;
    margin-left: auto;
    right: 0;
    background: #dfb5ca3f;
}

#article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #999;
}

#article pre {
    font-size: 14px;
    margin: 20px 0 15px;
}

#article p {
    margin: 0 0 10px;
    line-height: 30px
}

/* 表格处理 */
#article table {
    text-align: left;
    width: 100%;
    border: 0;
    margin: 20px 0 50px 0;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 35px;
    border-radius: 8px;
    background: #e9000000;
}

#article table th {
  background: #e9000000;
  width: 100%;
  font-weight: 800;
  font-size: 18px;
  text-align: left;
  line-height: 35px;
  color: #e9050500;
}

#article table tr:nth-child(odd) {
  background: #dd89c100;
  width: 100%;
}

/* #article table tr:hover
{
  width: 100%;
    
}
#article table td:hover {
  background: #b8131300;
  color: #be6da6;
  width: 100%;
} */
#article table td.gutter{
  width:1%;
    
}

#article table td, table th {
  padding: 1px 1px 1px 1px
}

#article table tr:first-child th:first-child {
  border-top-left-radius: 3px;
  width: 100%;
}

#article table tr:first-child th:last-child {
  border-top-right-radius: 3px;
  width: 100%;
}

#article table tr:last-child td:first-child {
  border-bottom-left-radius: 30px;
}

#article table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}


/* #################### 文章索引 #################### */
aside #toc a.read{
    /*color: #e06c75;*/
    color: #7a047e;
    border-bottom: 0;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

aside #toc a{
    color: #000000;
    border-bottom: 0;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

aside #toc a:hover{
    /*color: #87daff;*/
    color: #7c0cbd;
    padding-left: 20px;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}


#expend {
    width: 30px;
    height: 100%;
    position: fixed;
    background: rgb(255, 255, 255, 0);
    z-index: 2;
    pointer-events: none;
    padding-top: 20px;
    padding-left: 20px;
}
#expend-icon {
    pointer-events: all;
    width: 40px;
    height: 40px;
}

#expend-icon:hover {
    cursor: pointer;
    color: #910050;
}
/* 搜索图标 */
aside #search #search-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background: #e62d9f00;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
aside #search #search-icon:hover {
    cursor: pointer;
    color: #910050;
}
.hljs{
    text-align: left;
}

/* #################### 自适应 #################### */

@media screen and (max-width: 800px) {
	aside {
        background: rgb(231, 224, 225);
        width: 150px;
	}

	#content {
		padding-left: 0;
	}

	canvas#live2dcanvas {
		display: none;
	}
}

/*竖屏*/
@media all and (orientation : portrait) {

	aside {
        background: rgb(236, 225, 228);
	}

	#content {
		padding-left: 0;
	}

	canvas#live2dcanvas {
		display: none;
	}

}